<header>
  <div>
    <nav class="header-actions">
        <% if logged_in? %>
          <p><%= link_to "Users", users_path %>
          <%= link_to "Log out", sign_out_path, method: "delete" %></p>
        <% else %>
          <li><%= link_to "Log in", root_path %></li>
        <% end %>
    </nav>
  </div>
</header>
